body{
    background-color : #F4FBFF;
}

[data-testid="stAppViewContainer"]{
    background-color: #F4FBFF;
}

/*=====================
Hero Section
 ======================*/
.hero-card{
    background-color: #ffffff;
    border-radius : 20px;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(15, 23, 42, 0.06);
    max-width: 800px;
    margin: 80px auto;
    text-align : center;
}

.hero-card h1{
    font-family: Inter;
    color :  #2563EB;
    font-size: 56px ;
    font-weight: 700;
    margin-bottom: 12px;
}

.hero-card h2{
    color : #374151;;
    font-size: 32px;
    font-weight: 400;
    font-family: Inter;
    margin-bottom : 20px;
}

.hero-card p{
    color : #6B7280;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.7;
}

/*================
Action Section
 =================*/
.action-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
     margin-bottom:100px;
}

.action-card {

    background-color: navy;
    color: white;
    border-radius: 24px;
    padding: 12px;
    margin-top: 24px;
    width: 320px;
    box-shadow: 0 4px 12px rgba(15, 23, 42, 0.06);
    transition: 0.3s;
}


.action-card h3{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.action-card p{
    font-family: Inter;
    font-size: 15px;
    color: rgba(255,255,255,0.85);
    line-height: 1.5;
}

/*========================
Workflow Section
=========================*/

.workflow-title{
    margin-top:100px;
    margin-bottom:60px;
    text-align:center;
    color:#2563EB;
    font-size:34px;
    font-weight:700;
    font-family: Inter;
}

.workflow-card{
    text-align:center;
    padding:15px;
}

.circle{
    width:60px;
    height:60px;
    margin:auto;
    margin-bottom:18px;
    border-radius:50%;
    background:#2563EB;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    font-weight:700;
    font-family: Inter;
    box-shadow:0 6px 15px rgba(37,99,235,.20);
}

.workflow-card h3{
    margin-bottom:10px;
    font-size:24px;
    font-family: Inter;
    color:#1F2937;
    font-weight:650;
}

.workflow-card p{
    max-width:220px;
    margin:auto;
    color:#6B7280;
    font-size:16px;
    font-family: Inter;
    line-height:1.6;
}








/* Typography Scale */
/*

64px → Hero Title

32px → Hero Subtitle

20px → Card Title

16px → Body Text

14px → Small Text

*/