body{
    background-color : #F8FAFC
}

[data_testid = "stAppViewContainer"]{
    background-color: #F8FAFC;
}

/*=====================
Hero Section
 ======================*/
.hero-card{
    color: #ffffff;
    border-radius : 20px;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(15, 23, 42, 0.06);
}
